.header {
  background-color: #141414;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  list-style: none;
  padding: 0 12px;
  transition: color 0.3s ease;
  font-size: 25px;
}

.nav li:hover {
  color: #b185db;
  cursor: pointer;
}

.logo {
  height: 60px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.avatar {
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.1);
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .nav li {
    font-size: 14px; /* Further decrease font size for list items on smaller screens */
  }
}
