.header {
  background-color: #141414;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px; /* Add padding for spacing */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  list-style: none;
  padding: 0 12px; /* Increase padding for better spacing */
  transition: color 0.3s ease; /* Smooth transition for text color */
  font-size: 20px; /* Increase font size for list items */
}

.nav li:hover {
  color: #ff6347; /* Change text color on hover */
  cursor: pointer; /* Change cursor on hover */
}

.logo {
  height: 30px;
  font-size: 20px; /* Increase font size for the logo */
  transition: transform 0.3s ease; /* Add transition for hover effect */
}

.logo:hover {
  transform: scale(1.1); /* Scale up the logo on hover */
}

.avatar {
  height: 40px; /* Decrease avatar height for better proportion */
  border-radius: 50%; /* Make the avatar circular */
  transition: transform 0.3s ease; /* Add transition for hover effect */
}

.avatar:hover {
  transform: scale(1.1); /* Scale up the avatar on hover */
}
