.row {
  color: antiquewhite;
  margin-left: 20px;
}

.row h2 {
  font-family: "Sedan", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #dec9e9;
  transition: color 0.3s;
  cursor: pointer;
}

.row h2:hover {
  color: #6247aa;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  /* ^^ asta e foarte bun, pastreaza aspect ratio indiferent de ecran */
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
  /* opacity: 1; */
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
