.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.search-box {
  margin-top: 50px;
  padding: 10px 20px;
  background: #dec9e9;
  color: #6247aa;
  border: 2px solid #6247aa;
  width: 300px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

.search-box:focus {
  outline: none;
  border-color: #6247aa;
}

.btn-search {
  background: #dec9e9;
  color: #6247aa;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.btn-search:hover {
  background: #c19ee0;
}
